/* Stats.css */
.hero-stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 2rem;
    margin-top: 2rem;
    margin-left: 30px;
}

.hero-stats div {
    min-width: 180px;
}

.hero-stats h3 {
    font-size: 2rem;
    color: var(--accent-color);
}

.hero-stats p {
    font-size: 1rem;
    color: var(--text-secondary);
}

@media (max-width: 991.98px) {
    .hero-stats {
        justify-content: center;
        text-align: center;
        margin-right: 25px;
    }
}